@model eGift.Admin.MVC.Models.ViewModels.StateViewModel

@{
    ViewData["Title"] = "State";
    ViewData["SubTitle"] = "Edit";
}

<h1>@ViewData["Title"]</h1>
<h4>@ViewData["SubTitle"]</h4>
<hr />

<form asp-action="Edit" method="post">
    <div class="row">
        <div class="col-md-4">
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="CreatedBy" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CountryId" class="control-label required"></label>
                <select asp-for="CountryId" asp-items="Model.CountryList" class="form-control">
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="StateName" class="control-label required"></label>
                <input asp-for="StateName" class="form-control" />
                <span asp-validation-for="StateName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StateCode" class="control-label required"></label>
                <input asp-for="StateCode" class="form-control" />
                <span asp-validation-for="StateCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5" cols="50"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
